.DS_Store
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
.env
*.env

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

/node_modules
frontend/litpics/.next/
frontend/litpics/.vercel/
frontend/litpics/node_modules/