body {
    background: linear-gradient(to right, #000, #800080);
    color: #fff;
    font-family: Arial, sans-serif;
}
 /* 568 * 796*/
h1 {
    color: #800080;
    text-align: center;
    padding: 20px 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.text-container {
    flex: 1;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.image-container {
    flex: 1;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;

    .helper {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

#user-prompt {
    height: 60vh;
    margin-bottom: 20px;
}

#submit {
    display: block;
    width: 100%;
}

footer {
    text-align: center;
}

.page-number {
    margin-left: 0.25em;
}

#right-button {
    margin-left: 0.25em;
}

#new-page {
    margin-left: 0.25em;
}